.Weather {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #415b90;
  padding: 20px;
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
  background-color: azure;
}

.Weather h1 {
  font-weight: bold;
  font-size: 45px;
  color: #f8ed86;
  -webkit-text-stroke-color: #415b90;
  -webkit-text-stroke-width: 2px;
  margin-top: 10px;
}

.Weather h3 {
  font-size: 18px;
  color: #415b90;
}

.Weather img {
  max-width: 100%;
  position: relative;
  top: -13px;
}
.Weather .searchBox {
  border-color: #415b90;
  border-radius: 4px;
  border-style: solid;
}

.Weather .searchButton,
.locateMeButton {
  background-color: #415b90;
  color: #f8ed86;
  border-color: #f8ed86;
  border-radius: 4px;
  margin: auto 4px;
}

.Weather .description {
  color: #415b90;
  font-size: 20px;
}
.Weather .currentWeather {
  line-height: 100px;
}

.Weather .mainTemp {
  font-size: 45px;
  font-weight: bold;
  margin-left: 10px;
  color: #a5e9db;
  -webkit-text-stroke-color: #415b90;
  -webkit-text-stroke-width: 2px;
}

.Weather .unit {
  position: relative;
  top: -20px;
  left: 2px;
  color: #415b90;
}

.Weather .minMaxTemp,
.humidity,
.wind {
  font-size: 19px;
  padding: 10px;
  color: #415b90;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  border-color: #415b90;
}

.Weather .minMaxTemp {
  background-color: #a5e9db;
  margin: 0 120px;
}

.Weather .humidity {
  background-color: #f8ed86;
  margin-left: 50px;
}

.Weather .wind {
  background-color: #f8ed86;
  margin-left: 2px;
}

.Weather .minMaxTemp:hover {
  background-color: #f8ed86;
}

.Weather .humidity:hover {
  background-color: #a5e9db;
}
.Weather .wind:hover {
  background-color: #a5e9db;
}
